.designPerfil2 {
    display: flex;
    flex-direction: column;
    background-color: #2B2B31;
    height: 100vh;

}

.contenidoPerfil2 {
    display: flex;
    height: 100%;
}

.usuarioCaja {
    display: flex;
    flex-direction: row;
    background-color: #2B2B31;
    height: 100%;
    width: 100%;
}

.sobreYo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(196, 196, 196, 1);
    height: 90%;
    width: 50em;
    margin-top: 1em;
    margin-left: 10em;
}

.nombreFila {
    height: 2em;
    width: 100%;
    background-color: blue;
    font-size: 2vw;
    font-weight: bolder;
}

.contenidoFila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1em;
}


.imagenUsuario {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url(/img/dedete.jpg);
    width: 20em;
    height: 15em;
    border: 2px solid #611B5E;
}

.edadCiudad {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: flex-start;
    height: 100%;
}

.ciudadUsuario {
    background-color: red;
    margin-top: 1em;
    font-size: 1vw;
}

.edadUsuario {
    background-color: pink;
    font-size: 1vw;
    margin-top: 5em;
}

.torreDatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2B2B31;
    height: 100%;
    width: 50%;
}

.posts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    background-color: rgba(196, 196, 196, 1);
    height: 9em;
    width: 16em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.siguiendo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    background-color: rgba(196, 196, 196, 1);
    height: 9em;
    width: 16em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.seguidores {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    background-color: rgba(196, 196, 196, 1);
    height: 9em;
    width: 16em;
    margin-top: 1em;
    margin-bottom: 1em;
}


.informacionUsuario {
    background-color: green;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}


.butonSeguir {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 8em;
    border-radius: .2em;
    background-color: red;
    margin-top: 2em;
    margin-left: 28em;

    color: white;
    font-weight: lighter;
    
}


.butonSeguir:hover{
    background-color:  black;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
}



















