.paginaHilo {
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 76.9em;
    width: 100%;
}

.contenidoHilo {
    background-color: aqua;
    display: flex;
    height: 100%;
    width: 100%;
}

.cuerpoHilo {
    background-color: #2B2B31;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    overflow-y: scroll;
}

.cuerpoHilo::-webkit-scrollbar {
    display: none;
}

.foroPostHilo {
    border-radius: 3em 3em 2em 2em;
    background-color: rgba(196, 196, 196, 1);
    width: 65em;
    margin-bottom: 2em;
}


.postCabezaHilo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #611B5E;
    height: 3em;
    width: 100%;
    border-radius: 2em 2em 0 0;
}

.contenidoPostHilo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputHilo {
    all:unset;
    text-align: left;
    border: 2px solid #611B5E;
    border-bottom: 2px 2px;
    padding: 0.50em;
    width: 80%;
    margin: 0.5em;
    margin-top: 1.25em;
    background-color: #555a402d;
}

.botonesPostHilo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}

.botonHilo{
    height: 3em;
    width: 10em;
    background-color: #555a402d;
    color: black;
    border: 2px solid #611B5E;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.botonHilo:hover {
    background-color: rgba(196, 196, 196, 1);
    font-weight: bolder;
    cursor: pointer;
}