.designMargin {
    background-color: #870B29;
    color: white;
    border-right: #611B5E solid .3rem;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    width: 20%;
}

.margin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40rem;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2rem;
    height: 4rem;
    width: 12rem;
    cursor: pointer;

    background-color: #611B5E;
    border-color: black;
    border: 2px solid #611B5E;
}

.boton:hover{
    background-color: #611b5de0;
    font-weight: bold;
    transform: scale(1.03);
}
