.paginaUsuarios {
    display: flex;
    flex-direction: column;
    background-color: #2B2B31;
    height: 100vh;
}

.contenidoUsuarios {
    display: flex;
    height: 100%;
}

.cuerpoUsuarios {
    background-color: #2B2B31;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.foroPostUsuarios {
    border-radius: 3em 3em 2em 2em;
    background-color: rgba(196, 196, 196, 1);
    height: 55em;
    width: 65em;
}

.postCabezaUsuarios {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #611B5E;
    height: 3em;
    width: 100%;
    border-radius: 2em 2em 0 0;
}
