.designHeader {
    height: 4.75em;
    background-color: #611B5E;
    width: 100%;
    color: white;
    padding-left: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.letrasHeader {
    color: rgba(196, 196, 196, 1);
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerSpace {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: 15em;
}

.searchDesign {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.linksDesign {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.link {
    margin-right: 3em;
    margin-bottom: 1em;

}

.link:hover {
    font-weight: bold;
    cursor: pointer;

}

.welcomelink {
    margin-right: 3em;
    margin-bottom: 1em;

}

.welcomelink:hover {
    font-weight: bold;
    cursor: pointer;
}

.relleno {
    height: 1em;

}