.paginaPublicaciones {
    display: flex;
    flex-direction: column;
    background-color: #2B2B31;
    height: 72.2em;
    width: 100%;
}

.contenidoPublicaciones{
    background-color: aqua;
    display: flex;
    height: 100%;
    /* height: 72.2em; */
    width: 100%;
}

.cuerpoPublicaciones {
    background-color: #2B2B31;
    height: 72.2em;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: center;
    overflow-y: scroll;
}


.cuerpoPublicaciones::-webkit-scrollbar {
    display: none;
}

.foroPostPublicaciones {
    border-radius: 3em 3em 2em 2em;
    background-color: rgba(196, 196, 196, 1);
    width: 65em;
    margin-bottom: 2em;
}

.postCabezaPublicaciones {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #611B5E;
    height: 3em;
    width: 100%;
    border-radius: 2em 2em 0 0;
}
